DATABASE_URL="postgresql://mqtt:mqtt@localhost:5432/mqtt_poc"
PORT=3333
NODE_ENV=development
WEB_ORIGIN="http://localhost:5173"
MQTT_URL="mqtt://localhost:1883"
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_QOS=1
MQTT_COMMAND_TIMEOUT_MS=60000
MQTT_COMMAND_EXPIRY_CHECK_INTERVAL_MS=10000
